.todaysFresh {
  margin-top: 4%;
  width: 100%;
}

.todaysFreshHeading {
  font-size: 20px;
  margin-left: 1%;
  font-family: "Fredoka One", cursive;
  color: #495159;
}

@media screen and (max-width: 600px) {
  .todaysFreshHeading {
    margin-bottom: -5%;
    margin-left: 5%;
  }
}
