.genres {
  margin-top: 4%;
  width: 100%;
}

.headingGenre {
  font-size: 20px;
  margin-left: 1%;
  font-family: "Fredoka One", cursive;
  color: #495159;
  /* font-weight: 600; */
}

@media screen and (max-width: 600px) {
  .headingGenre {
    margin-bottom: -5%;
    margin-left: 5%;
  }
}
